@font-face {
    font-family: 'RPGAwesome';
    src: url('/static/icons/rpg-icons/rpgawesome-webfont.eot');
    src: url('/static/icons/rpg-icons/rpgawesome-webfont.woff') format('woff'),
      url('/static/icons/rpg-icons/rpgawesome-webfont.ttf') format('truetype'),
      url('/static/icons/rpg-icons/rpgawesome-webfont.svg#rpg-awesome') format('svg');
    font-weight: normal;
    font-style: normal;
  }